*, *::before, *::after {
    box-sizing: border-box;
    font-family: Inconsolata;   
}

body, html {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #363241;
    color: #9995c4;
    width: 100vw;
    height: 100vh;
}

#title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: #423f59;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
}

#text {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.button {
    background-color: #4c507b;
    outline: none;
    border: #4c507b;
    margin: 5px;
    border-radius: 5px;
    color: #9995c4;
    width: 100%;
}

.button:hover {
    background-color: #6762a8;
}